.top-menu {
    background: linear-gradient(109.8deg, rgb(62, 5, 116) -5.2%, rgb(41, 14, 151) -5.2%, rgb(216, 68, 148) 103.3%);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu .logo {
    
}

.top-menu .search {
    flex: 1;
    text-align: center;
}

.top-menu .icons {
}

.bottom-menu {
    background: linear-gradient(109.8deg, rgb(62, 5, 116) -5.2%, rgb(41, 14, 151) -5.2%, rgb(216, 68, 148) 103.3%);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}
.category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.category-button {
    text-decoration: none;
    display: inline-block;
    align-items: center;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 20px;
    gap: 10px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    margin: 10px 0; /* 10px сверху и снизу, 0 слева и справа */
}

.about {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    line-height: 24px;
}
