{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
    <div class="product-image" style="margin-top: 10px;">
        {% if product.prod_img %}
            <img src="{{ product.prod_img.url }}" alt="Product photo" style="max-width: 300px; max-height: 300px;">
        {% else %}
            <p>No photo available</p>
        {% endif %}
    </div>

    <div class="product-description" style="margin-top: 10px;">
        <h3>Description</h3>
        <p>{{ product.description }}</p>

        <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px;">
            <div>
                <h3>Price</h3>
                <p>{{ offer.price }}</p>
            </div>


        </div>
    </div>
</div>
{% endblock body %}
